@model WebApplication1.Models.Alunos

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Alunos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="aNome" class="control-label"></label>
                <input asp-for="aNome" class="form-control" />
                <span asp-validation-for="aNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tID" class="control-label"></label>
                <input asp-for="tID" class="form-control" />
                <span asp-validation-for="tID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cID" class="control-label"></label>
                <input asp-for="cID" class="form-control" />
                <span asp-validation-for="cID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="aImagem" class="control-label"></label>
                <input asp-for="aImagem" class="form-control" />
                <span asp-validation-for="aImagem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
